@tailwind base;
@tailwind components;
@tailwind utilities;

.flex{
    width: 100%;
}
.img {
    /* Adjust as needed */
    width: 371px;
    height: 61px;
    background-repeat: no-repeat;
    background-size: cover;
   animation: cut-image 3s ease-in-out infinite ; /* Animation properties */
 }
.img1 {
    /* Adjust as needed */
    width: 371px;
    height: 61px;
    background-repeat: no-repeat;
    background-size: cover;

 }
 
 @keyframes cut-image {
   0% { 
        width: 276px;
        height: 61px;
       

        } /* Start at 50% cut */
        50%{
            width: 371px;
        height: 61px;
 
        }
   100% { 
    width: 276px;
    height: 61px;

 } /* Animate to 100% cut */
 }